{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='mt-4'>Modification de votre mot de passe utilisateur</h1>
        <div class='mt-4'>
            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{message}}
            </div>
            {% endfor %}
            {{ form_start(form) }}


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
